#Game, #TreeCutting {
    position: absolute;
    width: 600px;
    height: 600px;
} 

#Game {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
}

#TreeCutting {
    display: none;
    background: wheat;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    border: 2px solid black;
}

#Tree, #PlayerIcon {
    width: 33%;
    height: 90%;
    border: 1px solid green;
}

#Tree {
    background: url('TreeTextures/Normal.png');
    background-size: 5600px 542px;
    image-rendering: pixelated;
} 

#AccuracyBar {
    position: absolute;
    width: 90%;
    height: 10%;
    bottom: 10px;
    border: 1px solid black;
    background: linear-gradient(to right, red 0%, orange 10%, yellow 20%, darkgreen 30%, green 45%, lime 50%, green 55%, darkgreen 70%, yellow 80%, orange 90%, red 100%);
}

#Pointer {
    position: relative;
    height: 100%;
    width: 2px;
    background: black;
}

#Player {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #000;
}

.tree {
    background-color: brown;
}

#HitsRequiered {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}